html {
    background-color: #212121;
}

.title {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: xx-large;
    color: #FF5700;
    margin: 10px;
}

.subtitle {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: small;
    color: snow;
    margin: 10px;
}

table {
    margin-right: auto;
    margin-left: auto;
    background-color: #3d3d3d;
    border: 2px solid darkred;
    border-collapse: collapse;
}

th {
    color: #FF5700;
    text-align: center;
    border: 2px solid darkred;
    border-collapse: collapse;
}

td {
    color: snow;
    text-align: center;
    border: 2px solid darkred;
    border-collapse: collapse;
}

input {
    border-radius: 6px;
    border-color: black;
    background-color: #aaaaaa;
    transition-duration: 0.2s;
}

input:hover {
    border-color: #FF5700;
    background-color: snow;
    color: black;
}

.input {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 10px;
}

select {
    background-color: #aaaaaa;
    transition-duration: 0.2s;
}

select:hover {
    border-color: #FF5700;
    background-color: snow;
    color: black;
}

button {
    border-radius: 6px;
    border-color: darkred;
    background-color: #FF5700;
    color: snow;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    border-color: #FF5700;
    background-color: snow;
    color: black;
}

.button {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 20px;
}

