html {
    background-color: #212121;
    min-width: 400px;
    min-height: 400px;
    margin: 0.5em;
}

.subtitle {
    color: snow;
    justify-content: center;
    justify-items: center;
}

.title {
    color: #FF5700;
    font-size: medium;
    display: flex;
    justify-content: center;
    justify-items: center;
}

button {
    border: 0.2em solid darkred;
    border-radius: 2em;
    background-color: #FF5700;
    color: snow;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    border: 0.2em solid #FF5700;
    border-radius: 2em;
    background-color: snow;
    color: black;
}

.button {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 2em;
}